* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: skyblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

h2 {
    color: white;
    font-size: 20px;
}

h3 {
    font-size: 40px;
    color: white;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 200px;
    height: 200px;
    padding: 30px;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 50px;
}

